<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="http://localhost:4200/" class="navbar-brand">Szymon Godzinski</a>
    </div>

    <ul class="navbar-nav">
      <li><a routerLink="jpa" class="nav-link">User(DB-MYSQL-JPA)</a></li>
    </ul>

    <ul class="navbar-nav">
      <li><a routerLink="hibernate" class="nav-link">Job(DB-MYSQL-HIBERNATE)</a></li>
    </ul>

    <ul class="navbar-nav">
      <li><a routerLink="mongodb" class="nav-link">News(MongoDB-CRUD)</a></li>
    </ul>

  </nav>
</header>
